.sidebar {
  padding-right: 0px;
  margin-left: 0px;
  position: sticky;
  top: 100px;
  text-align: center;
  & li {
    text-align: left;
  }
  & a {
    transition-duration: 0.5s;
  }
  font-size: 14px;
  & .sidebar_row {
    list-style-type: none;
  }
}

.hover-month:hover {
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 20px;
  margin-left: -20px;
}
