<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1530177245316-034d99cd7b4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ef7c3651656cef40fcb239bb9a8eb6&auto=format&fit=crop&w=967&q=80');">
  <div class="banner-content">
    <h1>matcher</h1>
    <p>Don't waste money. Catch the game.</p>

    <div class="col-xs-12 col-sm-6">
      <div class="homepage_card blue">
        <h3>Earn some cash</h3>
        <p class="explanation">Are you a season ticket holder? Earn some easy money on matches you don't want to see with our simple platform. Just upload your seat details and cash will roll into your account.</p>
        <% if current_user %>
          <%= link_to "", dashboard_path %>
        <% else %>
          <%= link_to "", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="homepage_card orange">
        <h3>Catch the game</h3>
        <p class="explanation">Can't find a ticket? Our intuitive and easy platform gives you access to the highest-quality seats at the last minute, so you'll never miss a moment.</p>
        <%= link_to "", matches_path %>
      </div>
    </div>
  </div>
</div>
